.wrapper
  header
    h1 Whoapis
    p Simple whois API with caching functionality
    p.view
      a(href='https://github.com/kozze89/whoapis')
        | View the Project on GitHub
        small kozze89/whoapis
    ul
      li
        a(href='https://github.com/kozze89/whoapis/zipball/master')
          | Download
          strong ZIP File
      li
        a(href='https://github.com/kozze89/whoapis/tarball/master')
          | Download
          strong TAR Ball
      li
        a(href='https://github.com/kozze89/whoapis')
          | View On
          strong GitHub
  section
    !{content}
  footer
    p
      | This project is maintained by
      a(href='https://github.com/kozze89') kozze89
    p
      small
        | Hosted on GitHub Pages — Theme by
        a(href='https://github.com/orderedlist') orderedlist
script(src='/javascripts/scale.fix.js')
